body {
    background: #660000;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    min-width: 450px;
    margin: 0;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    min-width: 450px;
    position: relative;
}

#title {
    text-align: center;
    display: block;
    background: #000000;
    padding: 1px 0px 1px 16px;
    width: 100%;
    min-width: 450px;
    top: 0px;
    height: 150px;
    postion: relative;
}

#content {
    padding: 25px;
    padding-top: 10px;
    height: 80%;
    background: rgba(20, 60, 100, .5); 
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer {
    display: block;
    background: #000000;
    padding: 20px 0px 0px 55px;
    width: 100%;
    height: 100px;
    /*position: fixed to have footer always appear. 
      must make content margin-bottom: 110px*/
    position: relative;
    bottom: 0;
}

#nav {
    list-style-type: none;
}

#nav li {
    float: left;
}

#nav li a {
    text-align: center;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

#nav li a:hover {
    background: #bcebd7; 
}

#nav li a:link {
    text-decoration: none;
    color: #FFFFFF;
}

#nav li a:visited {
    text-decoration: none;
    color: #B6B6B6
}

#nav li a:hover {
    text-decoration: none;
    color: #242424
}

#nav li a:active {
    text-decoration: none;
    background: #B6B6B6
    color: #000000
}

#nav li a:hover {
    background: #bcebd7; 
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #B6B6B6
}

a:hover {
    text-decoration: none;
    color: #808080
}

a:active {
    text-decoration: none;
    background: #B6B6B6
    color: #000000
}